/*FONT FAMILY*/
@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-Italic;
    src: url(fonts/JosefinSans-Italic.ttf);
}

#HeaderPage .upperTitle {
    font-family: JosefinSans-Italic;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 13vh;
}

#HeaderPage .title {
        font-family: robotoBOLD;
    color: white;
    text-align: center;
    font-size: 80px;
    width: 56%;
    margin: 0 auto;
    margin-top: 2vh;
    font-weight: 700;
    -webkit-animation-delay: 0.4s;
   -moz-animation-delay: 0.4s;
   -o-animation-delay: 0.4s;
    padding-bottom:120px;
    
}

#HeaderPage {
    /*height: 80vh;*/
    background-image: url('../images/resumewallpaper.jpg');
    background-size: cover;
}

#wallpaper {
    
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-contactMe{
    border: 2px solid #ccc;
    border-radius: 0px;
}
.btn-contactMe:hover {
    background-color:rgb(255, 255, 255)!important;
    color: black!important;
}

.navbar-default {
    background-color: transparent!important;
    border:0px!important;  
        padding-top: 20px;
    
}
.navbar-default ul li {
    width: 125px;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav>.active>a {
    font-weight: bold;
    background-color: transparent!important;
    color:#ccc;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
}
.navbar-default .navbar-nav>li>a {
    font-family:robotoRegular;
    color: white;
}



.navbar-default .navbar-brand {
    padding-left: 25px;
    letter-spacing: 5px;
    font-weight: bold;
    color:white;
}

.btn,a{
       -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width:320px)  {  }
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media screen and (max-width:481px)  {  
    #HeaderPage .upperTitle {
        font-size: 15px!important;
    }

    #HeaderPage .title {  
        font-size: 20px!important;
    }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media screen and (min-width:641px)  and (max-width: 961px) { 
    #HeaderPage .upperTitle {
        font-size: 20px!important;
    }

    #HeaderPage .title {  
        font-size: 40px!important;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (min-width:961px)  and (max-width: 1025px) { 
    #HeaderPage .upperTitle {
        font-size: 20px!important;
    }

    #HeaderPage .title {  
        font-size: 60px!important;
    }
}
/* big landscape tablets, laptops, and desktops */
@media screen and (min-width:1025px) and (max-width: 1281px) { 
    #HeaderPage .upperTitle {
        font-size: 25px!important;
    }

    #HeaderPage .title {  
        font-size: 65px!important;
    }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {  }